<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<h1>Login</h1>
	<h2>Please enter your details here</h2>
	<form method="POST" action="">
		<p>User Type<br>Warehouse<input type="radio"name="user_type" value="Warehouse"><br>Retail Store<input type="radio" name="user_type" value="retail_store"></p>
		<p><input type="text" name="user_name" placeholder="Username" id="Username"></p>
		<p><input type="password" name="password" placeholder="Password" id="Password"></p>
		<p><input type="submit" value="submit"></p>
	</form>
</body>
</html>