<!DOCTYPE html>
<html>
<head>
	<title>Orders</title>
	<link rel="stylesheet" type="text/css" href="css/orders.css">
</head>
<body>
	<table>
		<form action="" method="POST">
		{% for o in orders %}
			<tr>
				<td>{{o[0]}}</td>
				<td>{{o[1]}}</td>
				<td>{{o[2]}}</td>
				<td>{{o[3]}}</td>
				<td>{{o[4]}}</td>
				<td>{{o[5]}}</td>
				<td><input type="checkbox" name="completed" value="{{o[1]}}"></td>
			</tr>
		{%endfor%}
			<input type="submit" name="submit" value="update">
		</form>
	</table>
</body>
</html>